$small: 728px;
.contact {
    display: flex;
    justify-content: flex-start;
    padding-top: 150px;
    align-items: center;
    background-color: #f3f4f5;
    flex-direction: column;

    padding-bottom: 200px;
    p {
        color: black;
        font-size: 20px;
        width: 30em;
        @media screen and (max-width: $small) {
            width: 20em;
            text-align: center;
            width: 10em;
        }
        a {
            text-decoration: none;
        }
    }
    @media screen and (max-width: $small) {
        padding-top: 100px;
    }
    .c-head {
        width: 80%;
        display: flex;
        align-items: center;

        h2 {
            font-size: 50px;
            padding-bottom: 10px;
            padding-right: 200px;
            padding-left: 20px;
            color: black;
            border-bottom: solid 2px black;
        }
        @media screen and (max-width: $small) {
            justify-content: center;
            h2 {
                padding: 0px 20px;
                font-size: 40px;
            }
        }
        margin-bottom: 50px;
    }
    .c-container {
        background-color: #b1bfd8;
        background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
        border-radius: 15px;
        margin-top: 30px;
        padding: 20px;
        .pageclip-form--success {
            color: black !important;
        }
        .pageclip-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            justify-content: center;

            input {
                width: 40rem;
                height: 40px;
                font-size: 24px;

                border: none;
                border-bottom: solid 2px white;
                margin-bottom: 20px;
                color: white;
                padding: 10px;
                padding-bottom: 20px;
                background-color: rgba($color: #000000, $alpha: 0);
            }
            input::placeholder {
                color: rgb(230, 230, 230);
            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s,
                    color 5000s ease-in-out 0s;
            }

            textarea {
                font-size: 24px;
                resize: none;

                margin-bottom: 20px;
                border: none;
                border-bottom: solid 2px white;
                width: 100%;
                max-width: 100%;
                padding: 10px;
                background-color: rgba($color: #000000, $alpha: 0);
                color: white;
            }
            textarea::placeholder {
                color: rgb(230, 230, 230);
            }
            button {
                width: 40%;
                height: 60px;
                border: none;
                background-color: white;
                color: #95a8ca;

                border-radius: 15px;
                border: solid 2px white;
                font-size: 24px;
                font-family: "Montserrat", sans-serif;
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0);

                    color: white;
                }
            }

            @media screen and (max-width: $small) {
                input {
                    width: 20rem;
                }
            }
            input:focus,
            textarea:focus {
                outline: none;
            }
        }
    }
}
