@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Exo:wght@400;600&family=Merriweather+Sans:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-height: 100%;
    overflow-x: hidden;
}
body {
    color: white;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 50%);

    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.fade {
    transition: opacity 1s ease;
    opacity: 0;
}
.appear {
    opacity: 1;
}
h1 {
    font-size: 70px;
    line-height: 50%;
    font-family: "Exo", sans-serif;
    font-weight: 600;
}
h2 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}
h3 {
    font-size: 40px;
    font-family: "Cairo", sans-serif;
    font-weight: 400;
}

section {
    width: 100%;
    min-height: 500px;
}
img {
    object-fit: contain;
}
@import "nav";
@import "interests";
@import "main";
@import "contact";
